.heading{
    color: darkblue;
    /* background-color: whitesmoke; */
    font-size: 15px;
    font-weight: bold;
    font-family: Verdana, Arial, Helvetica, sans-serif;
    text-decoration: none;
}

.listitem{
    color: black;
    font-size: 15px;
    font-weight: bold;
    font-family: Verdana, Arial, Helvetica, sans-serif;
    text-decoration: none;
}

/* #loading-spinner {
    width: 40px;
    height: 40px;
    border-radius: 50%;
    border: 4px solid #f3f3f3;
    border-top: 4px solid #3498db;
    animation: spin 1s linear infinite;
}
  
@keyframes spin {
0% { transform: rotate(0deg); }
100% { transform: rotate(360deg); }
}
   */

/* #bg{
    background-color: lightskyblue;
    /* blanchedalmond */
    /* background-size: cover;
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-position: center; 
} */

#spinner {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
  }